body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  font-weight: 300;
  font-size: 25px;
  -webkit-font-smoothing: antialiased;
  background-color: #333640;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 16px;
}

p {
  margin: 0 0 16px;
  font-size: 16px;
  font-size: 1.25rem;
  line-height: 1.7;
}

ul {
  margin-bottom: 10px;
  list-style: none;
  padding: 0px;
}

li {
  display: inline;
  margin-right: 20px;
}

.intro {
  color: #d2d2e5;
  font-size: 35px;
  line-height: 55px;
  font-weight: 300;
}

.project-title {
  margin-top: 40px;
  margin-bottom: 20px;
  color: #6a7185;
  font-size: 28px;
  line-height: 35px;
  font-weight: 700;
}

.project {
  line-height: 55px;
}
.container {
  color: #6a7185;
  margin: 0 auto;
  padding: 30px 0;
  max-width: 80%;
  width: 100%;
}

.contact {
  margin-top: 100px;
  color: #282828;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.tag {
  font-size: 16px;
  background-color: #d2d2e5;
  border-radius: 5px;
  padding: 4px 8px 4px 8px;
}

a {
  color: #d2d2e5;
  text-decoration: none;
  cursor: auto;
  transition: color 0.2s ease-out, background 0.5s ease-in;
}

a:hover {
  color: #34aaff;
  text-shadow: none;
}

.logo {
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px;
  height: 100px;
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  .container {
    max-width: 90%;
  }

  ul {
    line-height: 0px;
  }

  .intro {
    font-size: 25px;
    line-height: 35px;
  }

  .project-title {
    font-size: 16px;
    line-height: 20px;
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .project-description {
    font-size: 18px;
    line-height: 35px;
    margin-top: 26px;
  }

  .tag {
    font-size: 8px;
  }

  .contact {
    margin-top: 40px;
    font-size: 18px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 481px) {
  ul {
    line-height: inherit;
    display: inline;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 641px) {
  ul {
    line-height: inherit;
    display: inline;
  }

  .container {
    max-width: 90%;
  }
  .intro {
    font-size: 25px;
    line-height: 48px;
  }

  .project-title {
    font-size: 25px;
    line-height: 30px;
    margin-top: 30px;
  }

  .project-description {
    font-size: 1rem;
  }

  .tag {
    font-size: 12px;
  }

  .contact {
    margin-top: 50px;
    font-size: 20px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 961px) {
  ul {
    line-height: inherit;
  }

  .intro {
    font-size: 25px;
    line-height: 48px;
  }

  .project-title {
    font-size: 25px;
    line-height: 30px;
    margin-top: 30px;
  }

  .project-description {
    font-size: 1rem;
  }

  .tag {
    font-size: 12px;
  }

  .contact {
    margin-top: 80px;
    font-size: 22px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1025px) {
  ul {
    line-height: inherit;
  }

  .container {
    max-width: 800px;
  }

  .intro {
    font-size: 35px;
    line-height: 55px;
  }
  .project-title {
    font-size: 28px;
    margin-top: 40px;
  }

  .project-description {
    font-size: 1.25rem;
  }

  .tag {
    font-size: 16px;
  }

  .contact {
    margin-top: 100px;
    font-size: 25px;
  }
}

/* hi-res laptops and desktops */
@media only screen and (min-width: 1281px) {
  ul {
    line-height: inherit;
  }

  .container {
    max-width: 800px;
  }

  .intro {
    font-size: 35px;
    line-height: 55px;
  }
  .project-title {
    font-size: 25px;
    margin-top: 40px;
  }

  .project-description {
    font-size: 1.25rem;
  }

  .tag {
    font-size: 16px;
  }

  .contact {
    margin-top: 100px;
    font-size: 25px;
  }
}
