@font-face {
  font-family: Quattro;
  src: url("../fonts/iAWriterQuattroS-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Quattro;
  src: url("../fonts/iAWriterQuattroS-Bold.ttf");
  font-weight: 700;
}

body {
  margin: 0;
  font-family: Quattro, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  font-display: fallback;
  -webkit-font-smoothing: subpixel-antialiased;
  background-color: #131415;
  color: #908f95;
}

.inline-ul {
  display: inline;
  list-style: none;
  padding: 0px;
}

.inline-li {
  display: inline-block;
  margin-right: 16px;
  margin-top: 16px;
}

a {
  color: #fff;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgb(99, 101, 105);
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
  text-decoration: none;
}

a:hover {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #f0567e;
}

.container {
  margin: 0 auto;
  padding: 30px 0;
  max-width: 80%;
  width: 960px;
}

.logo {
  margin: 32px 0;
  background-image: url("../images/Rizwan.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 8rem;
  height: 8rem;
}

.contact {
  color: #908f95;
  text-align: center;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.greet {
  font-weight: bold;
  font-size: 1.6em;
  text-align: left;
  color: #fff;
  margin-top: 0.1em;
  margin-right: 0px;
  margin-bottom: 0.4em;
  font-weight: 700;
  line-height: 1.55;
}

.intro {
  font-size: 1.2em;
  font-weight: 500;
  line-height: 1.75;
  text-align: left;
  margin-top: 0.3em;
  margin-right: 0px;
  margin-bottom: 1.15em;
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
  text-decoration: none;
}

.seperator {
  padding-top: 3em;
  padding-right: 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 2em;
}

.main-list {
  list-style-type: none;
  padding: 0;
}

.main-list li {
  list-style: none;
  padding: 16px 0;
  display: list-item;
  text-align: -webkit-match-parent;
}

.intro p {
  padding: 16px 0;
  text-align: -webkit-match-parent;
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  .container {
    max-width: 90%;
    font-size: 1em;
    line-height: 1.5;
  }
  .intro {
    font-size: 1em;
  }
  .inline-li {
    margin-right: 8px;
    margin-top: 8px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 481px) {
  .container {
    max-width: 90%;
    font-size: 1em;
    line-height: 1.5;
  }
  .intro {
    font-size: 1em;
  }
  .inline-li {
    margin-right: 8px;
    margin-top: 8px;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 641px) {
  .container {
    max-width: 80%;
    font-size: 1em;
    line-height: 1.5;
  }
  .intro {
    font-size: 1.2em;
  }
  .inline-li {
    margin-right: 16px;
    margin-top: 16px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 961px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1025px) {
}

/* hi-res laptops and desktops */
@media only screen and (min-width: 1281px) {
}
