@font-face {
  font-family: Quattro;
  src: url("../fonts/iAWriterQuattroS-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Quattro;
  src: url("../fonts/iAWriterQuattroS-Bold.ttf");
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: Quattro, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  font-display: fallback;
  -webkit-font-smoothing: subpixel-antialiased;
  background-color: #131415;
  color: rgb(215, 216, 219);
}

.inline-ul {
  display: inline;
  list-style: none;
  padding: 0px;
}

.inline-li,
.tag {
  display: inline-block;
  margin-right: 16px;
  margin-top: 16px;
}

a {
  color: inherit;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgb(99, 101, 105);
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
  text-decoration: none;
}

a:hover {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #3498da;
}

.container {
  margin: 0 auto;
  padding: 30px 0;
  max-width: 80%;
  width: 960px;
}

.logo {
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 32px;
  height: 100px;
}

.title {
  border: 1px solid #333;
  border-left: 0;
  border-right: 0;
  padding-top: 24px;
  padding-bottom: 24px;
}

.apps {
  padding-top: 24px;
}

.apps.experiments {
  border-top: 1px solid #333;
}

.apps .app {
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
}

.apps .app .icon {
  height: 64px;
  width: 64px;
  margin-right: 16px;
  flex-shrink: 0;
}

.apps .app .icon img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 17.544%;
}

.apps .app h2 {
  font-weight: 600;
  font-size: 16px;
  color: #fff;
}

.apps .app p {
  font-size: 16px;
  line-height: 19px;
  color: #999;
  margin-top: 4px;
}

.apps .app a {
  font-weight: 600;
  font-size: 16px;
  color: #ccc;
  margin-top: 4px;
  display: inline-block;
}

.apps .app a.soon {
  color: #999;
}
